
<h1>Add New Employee</h1>

<%= form_tag "/employees/#{@employee.id}", method: :patch do %>
  <div>
    <h2>First Name: <input type="text" name="first_name" value="<%= @employee.first_name %>"></h2>
  </div>
  <div>
    <h2>Last Name: <input type="text" name="last_name" value="<%= @employee.last_name %>"></h2>
  </div>
  <div>
      <h2>Phone: <input type="text" name="phone" value="<%= @employee.phone %>"></h2>
  </div>
  <div>
    <h2>Email: <input type="text" name="email" value="<%= @employee.email %>"></h2>
  </div>
  <div>
    <h2>Address: <input type="text" name="address" value="<%= @employee.address %>"></h2>
  </div>
  <div>
    <h2>Address (apt/po): <input type="text" name="address2" value="<%= @employee.address2 %>"></h2>
  </div>
  <div>
    <h2>City: <input type="text" name="city" value="<%= @employee.city %>"></h2>
  </div>
  <div>
    <h2>State: <input type="text" name="state" value="<%= @employee.state %>"></h2>
  </div>
  <div>
    <h2>Zipcode: <input type="text" name="zip" value="<%= @employee.zip %>"></h2>
  </div>
  <div>
    <h2>Position:</h2>
    <h4>Admin rights: <input id="pet_dog" name="is_admin?" type="checkbox" value="true" <%= @employee.check_admin %>/></h4>

    <h4>Manager: <input id="pet_dog" name="is_manager?" type="checkbox" value="true" <%= @employee.check_manager %>/></h4>
  </div>
  <div>


    <% Position.all.each do |pos| %>
      <input id="position_id" name="position_id" type="radio" value="<%= pos.id %>" <%= @employee.select_position(pos.id ) %>/>
      <label for="position_id"><%= pos.position_name %></label>

    <% end %>

  </div>
  <br>
  <input type="submit" value="Add Employee">
<% end %>
