<%= link_to "Add Employee", '/employees/new' %>

<h1>Employee Info for <%= @employees.first.position.company.name %></h1>

<% @employees.each do |employee| %>
  <div class="employee" style="line-height: 12px">
    <h2><a href="/employees/<%= employee.id %>">Name: <%= "#{employee.first_name} #{employee.last_name}" %></a></h2>
    <h2>Position: <%= employee.position.position_name %></h2>
    <h3>Email: <%= employee.email %></h3>
    <h3>Phone: <%= employee.phone %></h3>
    <h3>Address</h3>
    <div class="address" style="line-height: 20px;">
      <ul>
        <li><%= "#{employee.address}, #{employee.address2}" %></li>
        <li><%= "#{employee.city}, #{employee.state} #{employee.zip}" %></li>
      </ul>
    </div>
  </div>
  <hr>

<% end %>