


<h1>Employee Info</h1>

<div class="employee" style="line-height: 12px">
    <h2><a href="/employees/<%= @employee.id %>">Name: <%= "#{@employee.first_name} #{@employee.last_name}" %></a></h2>
    <% if current_user && current_user.position_id %>
      <h2>Position: <%= @employee.manager? %> <%= @employee.position.position_name %></h2>
    <% end %>
    <h3>Email: <%= @employee.email %></h3>
    <h3>Phone: <%= @employee.phone %></h3>
    <h3>Address</h3>
    <div class="address" style="line-height: 20px;">
      <ul>
        <li><%= "#{@employee.address}, #{@employee.address2}" %></li>
        <li><%= "#{@employee.city}, #{@employee.state} #{@employee.zip}" %></li>
      </ul>
    </div>
  </div>

  A: <%= @employee.is_admin? %> |
  M: <%= @employee.is_manager? %> |

  <br>
  <br>

  <% if current_user.id == @employee.id %>
    <h2><a href="/availability/">See Current Availability</a></h2>
  <% end %>

  <div>
    <%= link_to "Edit", "/employees/#{@employee.id}/edit" %>
    <%= link_to "Delete", "/employees/#{@employee.id}", method: :delete %>
  </div>

<h2>Upcoming Shifts:</h2>
<hr>
<ul>
  <% @employee.shifts.each do |shift| %>
   <li><%= shift.day_of_week.capitalize %>, <%= shift.date.strftime('%b %d') %> -- <%= shift.time_start.localtime.strftime('%I:%M %p') %> -- <%= shift.time_end.localtime.strftime('%I:%M %p') %></li>
  <% end %>
</ul>



<div id="calendar"></div>