
<h1><%= @position.position_name %> List:</h1>
<% if current_user.is_admin? %>
  <h4><a href="/positions/<%= @position.id %>/edit">Edit Position Name</a></h4>

<% end %>
<hr>
<% @employees.each do |employee| %>
  <div class='row employee-show'>
    <div class="col-lg-2 col-md-6 col-xs-12 position-photo">
      <% if employee.image_file_name %>
        <div class='true'>
          <%= image_tag employee.image.url(:thumb) %>
        </div>
      <% else %>
        <img src="https://www.betafy.co/assets/img/default_user.png" alt="profile picture placeholder">
      <% end %>
    </div>
    <div class="col-lg-8 col-md-6 col-xs-12 employee-text-show">
      <h3><strong><%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize} - #{employee.position.position_name} #{employee.manager?}" %></strong></h3>
      <h3>Email: <a href="mailto:<%= employee.email %>"><%= employee.email %></a></h3>
      <h3>Phone: <%= employee.phone %></h3>
      <br>
      <% if current_user.is_admin? || current_user.id == employee.id %>
        <div class="address">
          <h6>Address:</h6>
          <h6><%= "#{employee.address}, #{employee.address2}" %></h6>
          <h6><%= "#{employee.city}, #{employee.state} #{employee.zip}" %></h6>
          <% if current_user.id == employee.id %>
            <%= link_to "Edit Info", "employees/#{employee.id}/edit" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
<% end %>

<button class="btn-danger danger-zone" style="float:right;"><%= link_to "Delete Position", "/positions/#{@position.id}", method: :delete %></button>