
<h1><%= @position.position_name %> List:</h1>
<h4><a href="/positions/<%= @position.id %>/edit">Edit Position Name</a></h4>
<hr>

<% @employees.each do |employee| %>
  <div class="employee" style="line-height: 12px">
    <h4><%= employee.company.name %></h4>
    <h2><a href="/employees/<%= employee.id %>">Name: <%= "#{employee.first_name} #{employee.last_name}" %></a></h2>
    <h2>Position: <%= employee.manager? %> <%= employee.position.position_name %></h2>
    <h3>Email: <%= employee.email %></h3>
    <h3>Phone: <%= employee.phone %></h3>
    <h3>Address</h3>
    <div class="address" style="line-height: 20px;">
      <ul>
        <li><%= "#{employee.address}, #{employee.address2}" %></li>
        <li><%= "#{employee.city}, #{employee.state} #{employee.zip}" %></li>
      </ul>
    </div>
    manager <%= employee.is_manager? %>
    admin <%= employee.is_admin? %>
  </div>
  <hr>

<% end %>