<h1>Shift information: </h1>
<h1><%= @shift.day_of_week.capitalize %>, <%= @shift.date.strftime('%b %d') %> </h1>

<h3><%= @shift.time_start.localtime.strftime('%I:%M %p') %> -- <%= @shift.time_end.localtime.strftime('%I:%M %p') %></h3>

<h3>Positions Assigned to Shift:</h3>

  <% @positions.each do |pos| %>
    <h2><%= pos.quantity %> - <%= pos.position.position_name %>:</h2>
    <% pos.quantity.times do %>
      <select>
        <% @employees.each do |emp| %>
          <% if emp.position_id == pos.position.id %>
            <option><%= "#{emp.first_name} #{emp.last_name} - #{emp.position.position_name}" %></option>

          <% end %>
        <% end %>
      </select>
      <br>
    <% end %>
  <% end %>

<br>
<div>
  <%= link_to "Delete Shift", "/shifts/#{@shift.id}", method: :delete %>
<