<h1>Shift information: </h1>

<% if current_user.is_admin? %>
  <%= link_to "Edit Shift", "/shifts/#{@shift.id}/edit" %>
<% end %>

<h1><%= @shift.day_of_week.capitalize %>, <%= @shift.date.strftime('%b %d') %> </h1>

<h3><%= @shift.time_start.localtime.strftime('%I:%M %p') %> -- <%= @shift.time_end.localtime.strftime('%I:%M %p') %></h3>

<h3>Positions Assigned to Shift:</h3>

  <% @shift_positions.each do |pos| %>
    <h2><%= pos.quantity %> - <%= pos.position.position_name %>:</h2>
    <ol>
      <% pos.print_scheduled.each do |employee| %>
        <li><%= "#{employee.first_name.capitalize} #{employee.last_name.capitalize} - #{employee.position.position_name}" %> -- <%= link_to "Unassign", "/employee_shifts/#{employee.find_shift_assign(@shift.id)}", method: :delete %></li>
      <% end %>

    </ol>
    <h5><%= link_to "Remove Position from Shift", "/position_shifts/#{pos.id}", method: :delete %></h5>
    <hr>

    <% pos.find_quantity.times do %>
      <%= form_tag "/employee_shifts", method: :post do %>
        <input type="hidden" name="shift_id" value="<%= @shift.id %>">
        <select name="employee_id">
          <% @employees.each do |emp| %>
            <% if emp.position_id == pos.position.id && !@shift.assigned_ids.include?(emp.id)%>
                <option value="<%= emp.id %>"><%= "#{emp.first_name} #{emp.last_name} - #{emp.position.position_name}" %></option>
            <% end %>
          <% end %>
        </select>
      <%= submit_tag "Schedule Employee" %>
      <% end %>
      <br>
    <% end %>
  <% end %>

<br>



<% if  current_user.is_admin? %>
  <h2>Add Position to Shift:</h2>
  <%= form_tag "/position_shifts", method: :post do %>
      <input type="hidden" name="shift_id" value="<%= @shift.id %>">

      <select name="position_id">
        <% @positions.each do |pos| %>
          <% if !@shift.position_ids.include?(pos.id)%>
            <option value="<%= pos.id %>"><%= pos.position_name %></option>

          <% end %>
        <% end %>
      </select>
      -- How Many: <input type="text" name="quantity"> <%= submit_tag "Add Position" %>

  <% end %>
  <br>
  <hr>
  <br>
  <div>
    <%= link_to "Delete Shift", "/shifts/#{@shift.id}", method: :delete %>

  </div>

<% end %>
