<h1>Company Info:</h1>

<h3><%= @company.name %></h3>
<h3><%= @company.phone %></h3>
<br>
<h4><%= @company.address %></h4>
<h4><%= @company.address2 %></h4>
<h4><%= @company.city %>, <%= @company.state %> <%= @company.zip %></h4>
<br>

<a href="/company/edit">Edit Company</a> | <a href="/company">Delete Company</a>