<h1>Company Info:</h1>

<h3><%= @company.name %></h3>
<h3><%= @company.phone %></h3>
<br>
<h4><%= @company.address %></h4>
<h4><%= @company.address2 %></h4>
<h4><%= @company.city %>, <%= @company.state %> <%= @company.zip %></h4>
<br>

<a href="/company/edit">Edit Company</a>

<% if current_user.id == @company.employees.first.id %>
  <button style="float:right;" class="btn-danger danger-zone"> <%= link_to 'Delete Company', "/company", method: :delete %></button>
<% end %>