<h1>Edit Availability:</h1>

<%= form_tag "/availability/#{@availability.id}", method: :patch do %>

  <h3>Day of Week:</h3>
  <select name="day_of_week">
     <option <%= 'selected' if @availability.day_of_week == 'monday' %>>Monday</option>
     <option <%= 'selected' if @availability.day_of_week == 'tuesday' %>>Tuesday</option>
     <option <%= 'selected' if @availability.day_of_week == 'wednesday' %>>Wednesday</option>
     <option <%= 'selected' if @availability.day_of_week == 'thursday' %>>Thursday</option>
     <option <%= 'selected' if @availability.day_of_week == 'friday' %>>Friday</option>
     <option <%= 'selected' if @availability.day_of_week == 'saturday' %>>Saturday</option>
     <option <%= 'selected' if @availability.day_of_week == 'sunday' %>>Sunday</option>
  </select>
  <br>

  <h3>Time:</h3>
  <select name="hour_start">
    <%= (0..23).each do |hour| %>
      <option <%= "selected" if hour == @availability.time_start.hour %>><%= hour %></option>
    <% end %>
  </select>
  :
  <select name="min_start">
    <%= (00..59).each do |min| %>
      <option <%= "selected" if min == @availability.time_start.min %>><%= min %></option>
    <% end %>
  </select>
    ---
  <select name="hour_end">
    <%= (0..23).each do |hour| %>
      <option <%= "selected" if hour == @availability.time_end.hour %>><%= hour %></option>
    <% end %>
  </select>
  :
  <select name="min_end">
    <%= (00..59).each do |min| %>
      <option <%= "selected" if min == @availability.time_end.min %>><%= min %></option>
    <% end %>
  </select>

  <h3>Dates Effective:</h3>

   Month:
  <select name="month_start">
    <% (1..12).each do |month| %>
      <option <%= "selected" if month == @availability.start_date.month %>> <%= month %></option>
    <% end %>
  </select>
  Day:
  <select name="day_start">
    <% (1..31).each do |day| %>
      <option <%= "selected" if day == @availability.start_date.day %> > <%= day %> </option>
    <% end %>
  </select>
  Year:
  <select name="year_start">
    <% ((Time.now.year)..(Time.now.year + 5)).each do |year| %>
      <option <%= "selected" if year == @availability.start_date.year %>><%= year %></option>
    <% end %>
  </select>

  <h4>- until -</h4>

   Month:
  <select name="month_end">
    <% (1..12).each do |month| %>
      <option <%= "selected" if month == @availability.end_date.month %>> <%= month %></option>
    <% end %>
  </select>
  Day:
  <select name="day_end">
    <% (1..31).each do |day| %>
      <option <%= "selected" if day == @availability.end_date.day  %> > <%= day %> </option>
    <% end %>
  </select>
  Year:
  <select name="year_end">
    <% ((Time.now.year)..(Time.now.year + 5)).each do |year| %>
      <option <%= "selected" if year == @availability.end_date.year %>><%= year %></option>
    <% end %>
  </select>
  <br><br>

  <%= submit_tag "Update" %>
  <div style="text-align: right">
    <button><%= link_to "Delete Availability", "/employees/#{current_user.id}/availability/#{@availability.id}", method: :delete %></button>
  </div>
<% end %>