
<% if current_user.id == params[:user_id].to_i %>
  <h1 style="text-decoration: underline;">Your Current Availability</h1>
  <h5><a href="/employees/<%= params[:user_id] %>/availability/new">Add Availability</a></h5>
  <% else %>
  <h1 style="text-decoration: underline;"><%= @employee.full_name %>'s Availability </h1>
<% end %>



<% @days_of_week.each do |day|  %>
  <% if @availabilities.select{|avail| avail.day_of_week == day}.count > 0 %>
    <h2><%= day.capitalize %></h2>
    <ul>
      <% @availabilities.select{|avail| avail.day_of_week == day}.each do |avail| %>
        <h3>
        <%= avail.time_start.strftime('%l:%M %P') %> - <%= avail.time_end.strftime('%l:%M %P')  %> - Until <%= avail.end_date.strftime("%m/%m/%y") %>
        <% if  current_user.id == params[:user_id].to_i %>
          - <a href="/employees/<%= params[:user_id] %>/availability/<%= avail.id %>/edit">Edit</a>
        <% end %>
        </h3>
      <% end %>
    </ul>
    <hr>
  <% end %>
<% end %>