<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeSchedulerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Logged in as: <a href="/employees/<%= current_user.id %>"><%= "#{current_user.first_name} #{current_user.last_name}" %></a>
      <%= link_to "Log Out", "/logout" %>
      <br>
      <br>
      <a href="/employees">See Employees</a> | <a href="/shifts">See Shifts</a> | <a href="/positions">See Positions</a> ----
      <% if current_user.is_admin? %>
        <a href="/employees/new">Add Employee</a> | <a href="/shifts/new">Add Shift</a> | <a href="/positions/new">Add Position</a>
      <% end %>
    <% else %>
      <a href="/login">Login</a> <a href="/signup">Sign Up</a>
    <% end %>
    <br><br>


    <% flash.each do |name, message| %>

      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

        <span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
